<div class="single_wish_information" align="center"><a href="<%= @wish.url %>" align="center"> Wish: <%= @wish.content %><br>
Wished By: <%= @user.name %><br>
Wished At: <%= @wish.created_at %><br>
Url: <%= @wish.url != "" %>
<br></div>