
<body>
  <div class="profile_header">
    <%= erb :"partials/_determine_user" %>
  </div>

  <div class="profile_picture">
  
    <p><% @user.profile_picture %></p>
  </div>

  <div id="profile_name"> 
    <%= @user_name %><br>
    <%= @user.gender %><br>
    <%= @user.age %>
  </div>

  <div class="friend_me">
   <%= erb :"partials/_friend_me_button_method" %>
  </div>
  <%@user_id%>

  <div class="profile_info">
    <%= erb :"partials/_return_profile_information" %>
  </div>
</body>
